PyQt5~=5.15.11
PyQtWebEngine
python-docx
docxcompose
pillow~=11.0.0
pymupdf~=1.24.13
PySide6~=6.8.0.2
pdf2docx~=0.5.8
piexif~=1.1.3
numpy~=2.1.3
opencv-python~=4.10.0.84
fonttools~=4.54.1
setuptools~=75.3.0
Cython~=3.0.11