QFrame#sidebar {
    border-right: 1px solid rgb(27,28,22);
    background-color: #121212;
}

QPushButton#sidebar{
    background-color: #121212;
    border-radius: 5px;
    padding: 8px;
}

QPushButton#sidebar:hover {
    background-color: #1e1e1e;
}

QWidget#sidebar{
    background-color: #121212;
}


QWidget{
    background-color: #191919;
    color: white;
}

QMenuBar{
    background-color: #191919;
    color: white;
}

QStatusBar{
    background-color: #171717;
    color: white;
}

QPushButton#border{
    border-radius: 5px;
    padding: 8px;
    border-right: 2px solid #252525;
    border-bottom: 2px solid #252525;
    border-left: 1px solid #191919;
    border-top: 1px solid #191919;
}

QMessageBox QPushButton{
    border-radius: 5px;
    padding: 8px;
    border-right: 2px solid #252525;
    border-bottom: 2px solid #252525;
    border-left: 1px solid #191919;
    border-top: 1px solid #191919;
}


QPushButton{
    background-color: #252525;
    color:white;
    border-radius: 5px;
    padding: 8px;
}


QPushButton:hover {
    background-color: #303030;
}

QListWidget, QListView, QTreeWidget, QTreeView {
    outline: 0px;
}

QMenu::item:selected {
    color: white;
    background-color: rgb(30, 30, 30);
}

QMenu::item:hover {
    color: white;
    background-color: rgb(30, 30, 30);
}

QListWidget {
    color: black;
    border:none;
}

QListWidget::item{
    margin:5px;
    color: white;
}

QListWidget::item:hover {
    margin:5px;
    background: #252525;
}

QListWidget::item:selected {
    margin:5px;
    background: #303030;
    color: white;
    font-weight: bold;
}

QListWidget::item:selected:hover {
    background-color: #3b3b3b;
}

QListView {
    color: black;
    border:none;
}
QListView::item{
    margin:5px;
}

QListView::item:hover {
    margin:5px;
    background: #252525;
}

QListView::item:selected {
    margin:5px;
    background: #303030;
    color: white;
    font-weight: bold;
}

HistoryPanel::item:hover {
    background: rgb(52, 52, 52);
}

QCheckBox::indicator {
    background: rgb(15, 15, 15);
    Width:20px;
    Height:20px;
    border-radius: 10px
}
QCheckBox::indicator:unchecked{
    Width:20px;
    Height:20px;
    image: url(:/icons/resources/icons/unselect.svg);
}
QCheckBox::indicator:checked{
    Width:20px;
    Height:20px;
    image: url(:/icons/resources/icons/select.svg);
}
QScrollBar:vertical {
    border-width: 0px;
    border: none;
    background:rgba(133, 135, 138, 0);
    width:6px;
    margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(133, 135, 138), stop: 0.5 rgb(133, 135, 138), stop:1 rgb(133, 135, 138));
    min-height: 20px;
    max-height: 20px;
    margin: 0 0px 0 0px;
    border-radius: 3px;
}
QScrollBar::add-line:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgba(133, 135, 138, 0), stop: 0.5 rgba(133, 135, 138, 0),  stop:1 rgba(133, 135, 138, 0));
    height: 0px;
    border: none;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0  rgba(133, 135, 138, 0), stop: 0.5 rgba(133, 135, 138, 0),  stop:1 rgba(133, 135, 138, 0));
    height: 0 px;
    border: none;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::sub-page:vertical {
    background: rgba(133, 135, 138, 0);
}

QScrollBar::add-page:vertical {
    background: rgba(133, 135, 138, 0);
}
QProgressBar{
    font-family: 'Arial Unicode MS';
    height:22px;
    text-align:center;
    font-size:14px;
    color:black;
    border-radius:11px;
    background:#EBEEF5;
}
QProgressBar::chunk{
    border-radius:11px;
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #99ffff,stop:1 #9900ff);
}
QComboBox
{
    color:white;
    border-radius:3px;
    border:2px solid rgb(23, 25, 24);
    padding-top: 2px;
    padding-left: 2px;
}

QComboBox QAbstractItemView::item {
    color: white; /* 列表项文本颜色 */
}

QComboBox:hover
{
    background-color:rgba(23,23,23,20);
    border:1px solid rgb(31,15,22) ;
}

QComboBox QAbstractItemView {
    color: white;
}

QComboBox::drop-down
{
    border:none;
}

QComboBox::down-arrow
{
    right:0px;
    width: 16px;
    height: 16px;
    image: url(:/icons/resources/icons/down.svg);
}

QComboBox::down-arrow:on
{
    width: 16px;
    height: 16px;
    image: url(:/icons/resources/icons/up.svg);
}

QLineEdit
{
    background:transparent;
    border-radius:5px;
    background-color:#252525;
}

QTabBar::tab {
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar::tab:selected {
    background-color:#252525;
}

QTabWidget::pane {
    border: 0;
}

QSpinBox::up-button,QDoubleSpinBox::up-button{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    height: 20px;
    image: url(':/icons/resources/icons/sub.svg');
}

QSpinBox::down-button,QDoubleSpinBox::down-button{
    subcontrol-origin: padding;
    subcontrol-position: bottom left;
    width: 20px;
    height: 20px;
    image: url(':/icons/resources/icons/min.svg');
}

QSpinBox:up-button:pressed,QDoubleSpinBox:up-button:pressed{
    margin-top:4px;
}

QSpinBox:down-button:pressed,QDoubleSpinBox:down-button:pressed{
    margin-top:4px;
}

QSpinBox:hover,QDoubleSpinBox:hover {
    background-color: #303030;
}

QSpinBox,QDoubleSpinBox {
    border-radius: 0px;
    border:2px solid rgb(23, 23, 24);
    background-color:rgb(23, 23, 24);
	font-size: 9pt;
}

QSlider::groove:horizontal{
		height: 12px;
		left: 0px;
		right: 0px;
		border:0px;
	    border-radius:6px;
		background:rgba(0,0,0,50);
 }
QSlider::handle:horizontal{
		width:  24px;
		height: 24px;
		margin-top: -6px;
		margin-left: 0px;
		margin-bottom: -6px;
		margin-right: 0px;
		border-image:url(:/icons/resources/icons/dot.svg);
}
QSlider::sub-page:horizontal{
	   background:rgba(80,166,234,1);
}

#setting-container{
    background-color:rgb(25,25,25);
    border-radius: 10px;
}

QTreeWidget {
    border: none;
    background-color: #111111;
    font-size: 14px;
    padding: 5px;
}

QTreeWidget::item {
    padding: 10px;
    border: 1px solid #191919;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #111111;
}

QTreeWidget::item:hover {
    background-color: #252525;
}

QTreeWidget::item:selected {
    background-color: #303030;
    color: white;
}

QTreeWidget::item:!selected:hover {
    background-color: #d0e6f4;
}


QHeaderView::section {
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: 16px;
}


QHeaderView::section:checked {
    background-color: #666;
}

QPushButton#label_group_num {
    border-radius:0px;
    color:#808080;
    margin-right:6px;
    text-align: right;
    background-color: #191919;
}

QPushButton#label_group_num:hover {
    border-radius:0px;
    background-color: #191919;
}

QFrame#contact_tree{
    background-color: #191919;
    border-right: 1px solid rgb(27,28,22);
}

QWidget#contact_tree{
    border-radius:0px;
    background-color: #191919;
}

QMenu#tool_menu {
    border: 1px solid #303030;
    border-radius: 5px;
    padding: 8px;
}

QWidget#Form_contact{
    background-color: #2c2c2c;
}

QFrame#frame_chat{
    border-bottom: 1px solid rgb(125,125,125);
}

/* 聊天界面中间部分的边框 */
QFrame#frame_chat_border{
    background-color: #191919;
    border-right: 1px solid  rgb(27,28,26);
}

/* 消息发送按钮 */
QPushButton#btn_chat_sender{
    background-color: #2d2d2d;
    color:white;
    border-radius: 5px;
    padding: 8px;
}

QCommandLinkButton{
    background-color: #191919;
    color: white;
}

QCommandLinkButton:hover{
    background-color: #303030;
    color: white;
}

QCommandLinkButton:pressed {
    background-color: #191919;
    color: white;
}

/* 聊天消息 */
QLabel#bubble-message-send{
    background-color:#3eb575;
    border-radius:5px;
    padding:5px;
}

QLabel#bubble-message-receive{
    background-color:#2c2c2c;
    border-radius:5px;
    padding:5px;
}

QLabel#bubble-message-quote{
    background-color:#252525;
    border-radius:5px;
    padding:5px;
}

QLabel#bubble-message-notice{
    padding: 10px;
    color: rgb(128,128,128);
}

QWidget#bubble-message-voice-send{
    background-color:#3eb575;
    border-radius:5px;
    padding:5px;
}

QLabel#bubble-message-voice-send{
    border-radius:0px;
    padding:0px;
}

QWidget#bubble-message-voice-receive{
    background-color:#2c2c2c;
    border-radius:5px;
    padding:5px;
}

QLabel#bubble-message-voice-receive{
    border-radius:0px;
    padding:0px;
}

QLabel#bubble-message-nickname{
    color: rgb(128,128,128);
}